# Haxe / Heaps
*.o
*.obj
*.exe
*.out
*.cpp
*.cs
*.java
*.py
*.pyc
*.swp
*~
.haxelib
.cache
export/
out/
*.hl
*.n
*.dll
*.ndll
*.so
*.dylib
*.bundle

# IDE / OS
.DS_Store
.idea/
*.iml
.vscode/
*.code-workspace

# Build artifacts
bin/
build/
dist/
hello.js
hello.js.map
